<div>
    <h2>mostrar imagen y nombre album</h2>
    <!--<section id="hidden">-->
        
        <!--<section>
            <audio controls>
                <source src="{{$scope.previewUrl}}" type="audio/ogg">
            </audio>
            <button type="button" id="hideButton">Close</button>
        </section>-->

        <table>
            <tr class="animate-repeat" ng-repeat="t in trackList">
                <td>
                    {{t.name}}
                </td>
                <td>
                    <button ng-click="addFavorite(t.id)">ADD</button>
                    <button ng-click="playSong($index)">PLAY</button>
                </td>
            </tr>
        </table>
</div>