<div>
    <img class="album_title_img" src="{{albumImage}}">
    <h1 class="h1 album_name"> {{albumName}}</div>
<ul>
    <li class="column seven album">
        <button ng-click="orderByDuration()">order by duration</button>
        <button ng-click="orderByNumber()">order by track number</button>
        <div ng-repeat="t in trackList | orderBy: orderList">
            <h3>
                <p class="album_cd">{{t.name}}</p>
            </h3>

            <p class="track_star" ng-click="toggleFavorite(t)">
                <i ng-class="[{'fa fa-star':favorited(t.id),
                                    'fa fa-star-o':!favorited(t.id) } ]" aria-hidden="true">
                </i></p>
        </div>
    </li>
</ul>
</div>