/*.header {
  margin-left: auto;
  margin-right: auto;
  height:20%;
  width:100%;
  clear: both;
  max-height: 5%;
  overflow-y:no;
}

.searchBox{
  margin-left: auto;
  margin-right:auto;  
}
#standAloneSB{
  clear:both;
  max-width: 800px;
  width: 70%;
}
.embeddedSB{
  max-width:400px;
  width:40%;
  float:right;
}*/