<div class="column full" >
  <h3>Favorites:</h3>
  <ul>
    <li class="column six" ng-if="favoritesLst" ng-repeat="t in favoritesLst">
      <div class="column three">
        <img ng-src="{{t.image}}" alt="" class="home_img">
      </div>
      <div class="column six">
        <h4 class="home_item_title">{{t.name}}</h4>
        <div class="fav">
          <p class="home_item_data">{{t.artists}}
            <p>
              <p class="home_item_data">{{t.albumName}}</p>
        </div>
      </div>
      <div class="column one">
        <a href="{{t.href}}" target="_blank">
          <p class="play"><i class="fa fa-play" aria-hidden="true"></i></p>
        </a>
        <!--<p class="play_remove"><i class="fa fa fa-star" aria-hidden="true" ng-action="removeFav(t)"></i></p>-->
      </div>
    </li>
  </ul>
</div>