<div class="searchBox" id="standAloneSB">
  <input ng-model="searchInput" id="searchInput" placeholder="lupita"></input>

  <button id="search" ng-click="searchArtist()">Search!</button>
</div>
<div>
  <ul class="artistsResult">
    <li class="column six" ng-repeat="a in artistsList" ng-click="viewArtist(a)">

      <img class="align-left" src="{{a.images[2].url}}">
      <p class="align-right">{{a.name}}</p>
    </li>
  </ul>
</div>
<div class="column full" ng-if="favoritesLst">
  <h3>Favorites:</h3>
  <ul>
    <li class="column six" ng-repeat="t in favoritesLst">
      <div class="column three">
        <img src="{{t.image}}" alt="" class="home_img">
      </div>
      <div class="column six">
        <h2 class="home_item_title">{{t.name}}</h2>
        <div class="fav">
          <p class="home_item_data">{{t.artists}}
            <p>
              <p class="home_item_data">{{t.albumName}}</p>
        </div>
      </div>
      <div class="column one">
        <a href="{{t.href}}" target="_blank">
          <p class="play"><i class="fa fa-play" aria-hidden="true"></i></p>
        </a>
        <!--<p class="play_remove"><i class="fa fa fa-star" aria-hidden="true" ng-action="removeFav(t)"></i></p>-->
      </div>
    </li>
  </ul>
</div>