{
  "extends": "eslint:recommended",
  "plugins": [
    "angular"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "jasmine": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "globals": {
    "angular": true,
    "module": true,
    "inject": true,
    "no-console": false
  },
  "settings": {
    "angular": 2
  
  },
  
    "parserOptions": {
      "ecmaVersion": 5,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true
      }
    },
    "rules": {
      "semi": 2
    }
  
}